.viewport{
    perspective: 700px;
    perspective-origin-x: 50% 200px;
}

.rotate-wrapper{
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.8s ease;
}

.rotate-controls{
    position: fixed;
    top:30px;
    right:30px;
    background: #fff;
    height: 100px;
    width: 100px;
}


.component-wrapper{
    transform-style: preserve-3d;
}