$blue: #0074D9;

$red: #b30000;
$red-background: #fadad7;

$green: #406619;
$green-background: #eaf2c2;

$transition: all 0.2s ease-in-out;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

////////////////////////////////////////////////////////////////////////////////
// WRAPPER
////////////////////////////////////////////////////////////////////////////////

.cfl_viewport {
  perspective-origin-x: 50% 200px;
  perspective: 700px;
}

.cfl_rotate-wrapper,
.cfl_component-wrapper {
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}

.cfl_component-wrapper.cfl_changed {
  box-shadow: 0 0 0 2px $blue;
}


////////////////////////////////////////////////////////////////////////////////
// PANEL
////////////////////////////////////////////////////////////////////////////////

.cfl_data-log-panel {
  background-color: white;
  border-left: 1px solid;
  border-color: #ccc;
  bottom: 0;
  box-shadow: 0 0 10px rgba(black, 0.1);
  position: fixed;
  right: 0;
  top: 0;
  transition: $transition;
  width: 25%;
  z-index: 99999;
}

.cfl_data-log-panel.cfl_hide-panel {
  box-shadow: none;
  transform: translateX(100%);
}

.cfl_scroll-container {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.cfl_panel-toggle {
  $size: 3em;
  background-color: inherit;
  border: 1px solid;
  border-color: inherit;
  border-right: 0;
  border-radius: 3px 0 0 3px;
  color: #999;
  cursor: pointer;
  height: $size;
  left: -($size);
  line-height: $size;
  position: absolute;
  text-align: center;
  top: 1em;
  width: $size;
}

.cfl_panel-toggle:hover {
  color: initial;
}

.cfl_data-log-item {
  padding: 0.5em;
  margin: 0.5em;
}

.cfl_data-log-item:hover {
  box-shadow: 0 0 0 1px $blue;
  border-radius: 2px;
}

.cfl_data-log-item-header {
  margin-bottom: 1em;
}

.cfl_dl {
  padding-top: 0.5em;
}

.cfl_dt {
  color: #999;
  display: inline-block;
  font-size: 0.75em;
  padding-right: 1em;
  text-align: right;
  text-transform: uppercase;
  width: 20%;
}

.cfl_data-log-panel pre {
  background-color: #f7f7f7;
  border-radius: 3px;
  color: #333;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  overflow: auto;
  padding: 0.5em;
  width: 100%;
}

.cfl_data-log-panel pre del {
  background-color: $red-background;
  color: $red;
  display: block;
  text-decoration: none;
}

.cfl_data-log-panel pre ins {
  background-color: $green-background;
  color: $green;
  text-decoration: none;
}

////////////////////////////////////////////////////////////////////////////////
// 3D CONTROLS
////////////////////////////////////////////////////////////////////////////////

$control-size: 2em;

.cfl_rotate-controls {
  background-color: white;
  border-radius: 0 3px 0 0;
  bottom: -($control-size * 2 + 0.5em);
  box-shadow: 0 0 0 1px #ccc, 0 0 10px rgba(black, 0.1);
  box-sizing: content-box;
  height: 6em;
  left: -($control-size * 2 + 0.5em);
  overflow: hidden;
  padding: 0.5em;
  position: fixed;
  transition: $transition;
  width: 6em;
}

.cfl_rotate-controls.show-d-pad {
  bottom: 0;
  left: 0;
}

.cfl_d-pad {
  position: relative;
}

.cfl_3d-control,
.cfl_center {
  user-select: none;
  color: #999;
  text-align: center;
  line-height: $control-size;
  background-color: #444;
  height: $control-size;
  width: $control-size;
  position: absolute;
}

.cfl_3d-control {
  cursor: pointer;
  border-radius: 3px 3px 0 0;
}

.cfl_3d-control:hover {
  color: #f0f0f0;
}

.cfl_3d-control:active {
  background-image: linear-gradient(to bottom, black, #444);
}

.cfl_center {
  left: $control-size;
  top: $control-size;
}

.cfl_back {
  left: $control-size;
  top: 0;
}

.cfl_forward {
  top: $control-size * 2;
  left: $control-size;
  transform: rotate(180deg);
}

.cfl_left {
  top: $control-size;
  transform: rotate(-90deg);
}

.cfl_right {
  left: $control-size * 2;
  top: $control-size;
  transform: rotate(90deg);
}

.cfl_toggle-view {
  position: absolute;
  width: $control-size;
  line-height: $control-size;
  display: inline-block;
  right: 0;
  top: 0;
  font-weight: bold;
  text-align: center;
  color: $blue;
}

.cfl_toggle-view:hover {
  background-color: $blue;
  color: white;
  text-decoration: none;
}
